<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="src/web/imagenes/Birrete.png" rel="icon" type="image/x-icon" />
        <title>BuscandoLaU</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
         <link href="src/web/bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet">
    </head>
<body>
    <script src="src/Controler/jquery.js"></script>
    <script src="src/web/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
                <div class="col-md-2">
                    <a href="index.html"><img alt="Algo" src="src/web/imagenes/Birrete.png"width="1000%" height="1000%"></a>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-4">
            <div class="col-md-10 col-md-offset-2">

            <div class="col-md-2">
                <a href=""><h5 id='universidades'><font color="#ffffff"><b>Universidades</b></a>
                </font></h5>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <a href=""><h5 id='pregrados'><b><font color="#ffffff">Pregrados</a>
                </b></font></h5>
            </div>
            <div class="col-md-5">
                <a href="index.html"><h5 id='about'><b><font color="#ffffff">¿Qué es BuscandoLaU?</a>
                </b></font></h5>
            </div>
            <div class="col-md-1 ">
                <a href="index.html"><h5 id='contacto'><b><font color="#ffffff">Contáctenos</a>
                </b></font></h5>
            </div>
           </div>
           </div>
        </div>
    </nav>
<br>
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row">

    </div>
</div>
</body>
</html>    