<!DOCTYPE html>
<html lang="es">
<head>    
    <meta charset="UTF-8">
    <link href="../web/bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div>
        <table class="table table-striped table-bordered">
          <tr>
            
            <th>Materia</th>
            <th>Créditos</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Introducción al Lorem ipsum I</td>
            <td>5</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
        </tr>
        <tr>
            <td>Introducción al Lorem ipsum II</td>
            <td>6</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
        </tr>
    </table>
</div>
</body>
</html>
