<!DOCTYPE html>
<html lang="es">
<head>    
    <meta charset="UTF-8">
    <link href="../web/bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div>
        <table class="table table-striped table-bordered">
          <tr>
            
            <th>Materia</th>
            <th>Créditos</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>Introducción al Lorem ipsum I</td>
            <td>5</td>
            <td>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</td>
        </tr>
        <tr>
            <td>Introducción al Lorem ipsum II</td>
            <td>6</td>
            <td>No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</td>
        </tr>
    </table>
</div>
</body>
</html>
